[submodule "elasticsearch_exp"]
	path = elasticsearch_exp
	url = git@github.com:liuyc1515/ElasticsearchExperiment.git
    branch = experiment
[submodule "solr_exp"]
	path = solr_exp
	url = git@github.com:liuyc1515/SolrExperiment.git
    branch = experiment
